
ul{
	font-family: Helvetica Neue, sans-serif;
	font-size: 40px;
	font-weight: lighter;
	float: right;
	position: relative;
	right: 40px;
	}


	li{
display: inline;
padding: 8px;
	}



h1{
	font-family: Helvetica Neue, sans-serif;
	font-size: 90px;
	font-weight: lighter;
	color: white;
	margin-left: 40px;
	margin-top: 120px;
	letter-spacing: 14px
	}

	h2{
	font-family: Helvetica Neue, sans-serif;
	font-size: 60px;
	font-weight: lighter;
	color: white;
	margin-left: 40px;
	margin-top: 20px;
	letter-spacing: 10px;
	}


	h3{

	font-family: Helvetica Neue, sans-serif;
	font-size: 40px;
	font-weight: lighter;
	color: white;
	letter-spacing: 8px

	}


p{

font-family: Helvectice Neue, sans-serif;
font-size: 30px;
color: white;
text-align: left

}

.tiltheader {

font-size: 300px;
color: black;
font-weight: bold;}

.locationheader{
color: black;
font-size: 100px;

}

.enter header {

	margin-bottom: 20px;
	background-image: url('../images/mobileburger.jpg');
	background-size: cover;
	height: 100vh;
	background-position: center center;}

.enter header div {
	margin: auto;
	width: 60%;
	text-align: center;
padding-top: 500px;}

body.enter{

background-color: white;

}

.enter-button {
	display: inline-block;
	font-family: Helvetica Neue, sans-serif;
	font-size: 40px;
	font-weight: lighter;
	color: black;
	letter-spacing: 8px;
	padding-top: 500px;
	margin-top: 600px;
	border: 2px solid black;
  background-color: none;
  color: black;
  padding: 14px 28px;
  cursor: pointer;
  border-radius: 10px;
}

/* ensures that your images stretch the width of their containers */
img { width: 100%; }

body, html {
  height: 100%;
  margin: 0;
}


.logo{

	max-width: 250px;
	max-height: 250px;
	padding-top: 40px;
	padding-left: 40px;
}


a { 
	color: white;
	text-decoration: none;
	 }
a:hover { color: lightgrey; }

.grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 40px;
	width: 90%;
	margin: auto;
}

.grid div {
	
	padding: 20px;
}


.grid-container-menupage{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	padding: 10px

}

.menuphoto, div{
padding-left: 30px;

}


.menupic{

margin-top: 50px;
margin-bottom: 40px;
max-height: 800px;
max-width: 800px;

}

.madandypic{
margin-top: 40px;
max-height: 600px;
max-width: 600px;

}


.baconcheeseburgerpic{
margin-top: 40px;
max-height: 600px;
max-width: 600px;

}



.aboutpage, p {

margin-top: 40px;
margin-bottom: 30px;
margin-left: 40px;

}

.aboutphoto1{

margin-top: 20px;
margin-bottom: 20px;
max-height: 900px;
max-width: 900px;

}

.aboutphoto2{

margin-top: 20px;
margin-bottom: 20px;
max-height: 900px;
max-width: 900px;

}

.aboutphoto3{

margin-top: 20px;
margin-bottom: 20px;
max-height: 900px;
max-width: 900px;
}

.aboutphoto4{
margin-top: 20px;
margin-bottom: 20px;
max-height: 900px;
max-width: 900px;

}


.grid-container-hoursandlocations{

	display: grid;
	grid-template-columns: 2fr;
	padding: 10px;

}

.pearldistrict{
padding-top: 60px;

}


.pearldistrict{

max-height: 1000px;
max-width: 1000px;
padding-bottom: 40px;



}

.swanislandphoto2{
max-height: 1000px;
max-width: 1000px;
padding-bottom: 40px;
padding-left: 40px;


}

.burnsidephoto2{
max-height: 1000px;
max-width: 1000px;
padding-bottom: 40px;
padding-left: 40px;

}





footer{

 color: white;
 text-align: center;
 font-family: Helvetica Neue, sans-serif;
 font-size: 10px;
 font-weight: bold;

}




@media only screen and (min-width: 768px) {
	body{
		background-color: black; 
		}

		.grid {
		grid-template-columns: 2fr;
		grid-gap: 40px;
		width: 70%;
		margin: auto;
    	}

    	.grid-container-menupage{
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 10px;
		padding-left: 60px;}

		.enter header {

		margin-bottom: 20px;
		background-image: url('../images/o.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		height: 100vh;
	}

	
}

@media only screen and (min-width: 1024px) {
	body{
		background-color: black; 
		}

	.grid {
	grid-template-columns: 1fr 1fr;
	grid-gap: 40px;
	width: 60%;
	}

	.grid-container-hoursandlocations{

	display: grid;
	grid-template-columns: 2fr 2fr;
	padding: 10px;}

	.pearlphoto2{
		padding-top: 100px;}

	.swanislandphoto2{
	padding-top: 30px;}

	.burnsidephoto2{
		
	}

	  	.grid-container-menupage{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 10px;
		padding: 10px}

}



@media only screen and (min-width: 1200px) {
	body{
		background-color: black; 
		}

.grid {
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 40px;
	width: 60%;
}

.grid-container-hoursandlocations{

	display: grid;
	grid-template-columns: 4fr 4fr;
	padding: 10px;


}
}

