
ul{
	font-family: Helvetica Neue, sans-serif;
	font-size: 40px;
	font-weight: lighter;
	float: right;
	position: relative;
	right: 40px;
	color: white;
	}


	li{
	display: inline;
	padding: 8px;
	}



h1{
	font-family: Helvetica Neue, sans-serif;
	font-size: 90px;
	font-weight: lighter;
	color: white;
	margin-left: 40px;
	margin-top: 120px;
	letter-spacing: 14px
	}

	h2{
	font-family: Helvetica Neue, sans-serif;
	font-size: 60px;
	font-weight: lighter;
	color: white;
	margin-left: 40px;
	margin-top: 20px;
	letter-spacing: 10px;
	}


	h3{

	font-family: Helvetica Neue, sans-serif;
	font-size: 40px;
	font-weight: lighter;
	color: white;
	letter-spacing: 8px

	}

	.regnav nav{
		color: white;
	}


p{

	font-family: Helvectice Neue, sans-serif;
	font-size: 30px;
	color: white;
	text-align: left;

}

.tiltheader {

	font-size: 300px;
	color: black;
	font-weight: bold;}

.locationheader{
	color: black;
	font-size: 100px;

}

.enter header {

	margin-bottom: 20px;
	background-image: url('../images/mobileburger.jpg');
	background-size: cover;
	height: 100vh;
	background-position: center center;}

.enter header div {
	margin: auto;
	width: 60%;
	text-align: center;
	padding-top: 20vh;
}
.enter header div.text {
	padding-top: 43px;
	margin-top: -46px;
}

body.enter{

	background-color: white;

}

.enter-button {
	display: inline-block;
	font-family: Helvetica Neue, sans-serif;
	font-size: 40px;
	font-weight: lighter;
	color: black;
	letter-spacing: 8px;
	padding-top: 500px;
	margin-top: 600px;
	border: 2px solid black;
  	background-color: solid white ;
  	color: black;
  	padding: 14px 28px;
  	cursor: pointer;
  	border-radius: 10px;
}



html, body {
  background: solid black;
  text-align: center;
}

.svg-wrapper {
  height: 60px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 320px;
  background color: white;
}

.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke: black;
}

.text {
  color: black;
  font-family: Helvetica Neue, sans-serif;
  font-size: 40px;
  letter-spacing: 8px;
  line-height: 32px;
  position: relative;
  top: -48px;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.svg-wrapper: hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}


.button button-toggle
/* Basic styles */

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: #F6C390;
}

a {
  text-decoration: none;
	}
}

.container {
  position: relative;
  margin: 35px auto 0;
  width: 300px;
  height: 534px;
  background-color: #533557;
  overflow: hidden;
}



/* ensures that your images stretch the width of their containers */
img { width: 100%; }

body, html {
  margin: 0;
}


.logo{

	max-width: 250px;
	max-height: 250px;
	padding-top: 40px;
	padding-left: 40px;
}


a { 
	color: white;
	text-decoration: none;
	 }
a:hover { color: lightgrey; }

.grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 40px;
	width: 90%;
	margin: auto;
}

.grid div {
	
	padding: 20px;
}


.grid-container-menupage{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	padding: 10px

}

.menuphoto, div{
	padding-left: 30px;

}


.menupic{

	margin-top: 50px;
	max-height: 800px;
	max-width: 800px;

}

.madandypic{
	margin-top: 40px;
	max-height: 600px;
	max-width: 600px;

}


.baconcheeseburgerpic{
	margin-top: 40px;
	max-height: 600px;
	max-width: 600px;

}



.aboutpage, p {

	margin-top: 40px;
	margin-bottom: 30px;
	margin-left: 40px;

}

.aboutphoto1{

	margin-top: 20px;
	margin-bottom: 20px;
	max-height: 900px;
	max-width: 900px;

}

.aboutphoto2{

	margin-top: 20px;
	margin-bottom: 20px;
	max-height: 900px;
	max-width: 900px;

}

.aboutphoto3{

	margin-top: 20px;
	margin-bottom: 20px;
	max-height: 900px;
	max-width: 900px;
}

.aboutphoto4{
	margin-top: 20px;
	margin-bottom: 20px;
	max-height: 900px;
	max-width: 900px;

}


.grid-container-hoursandlocations{

	display: grid;
	grid-template-columns: 2fr;
	padding: 10px;

}

.pearldistrict{
	padding-top: 60px;

}


.pearldistrict{

	max-height: 1000px;
	max-width: 1000px;
	padding-bottom: 40px;



}

.swanislandphoto2{
	max-height: 1000px;
	max-width: 1000px;
	padding-bottom: 40px;
	padding-left: 40px;


}

.burnsidephoto2{
	max-height: 1000px;
	max-width: 1000px;
	padding-bottom: 40px;
	padding-left: 40px;

}





footer{

 color: white;
 text-align: center;
 font-family: Helvetica Neue, sans-serif;
 font-size: 10px;
 font-weight: bold;

}




@media only screen and (min-width: 768px) {
	body{
		background-color: black; 
		}

		.grid {
		grid-template-columns: 2fr;
		grid-gap: 40px;
		width: 70%;
		margin: auto;
    	}

    	.grid-container-menupage{
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 10px;
		padding-left: 60px;}

		.enter header {

		margin-bottom: 20px;
		background-image: url('../images/o.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		height: 100vh;}

		.tiltheader{
		margin-left: -40px;}

		.locationheader{
		margin-top: 130px;
		margin-left: -60px;
		margin-bottom: -120px;

		}

		.pearldistrict h2	
		{
		margin-left: -525px;
		margin-top: 50px;}

		.swanisland h2{
		margin-left: -560px;
		margin-top: 50px;	
		}

		.burnside h2{
		margin-left: -500px;
		margin-top: 50px;
		}

		.burnside p{
		margin-left: 1px;
		}

		.swanisland p{
		margin-left: 1px;
		}

		.pearldistrict p {
		margin-left: 1px;
		}


		.svg-wrapper{
		padding-bottom: 400px;

		}

	







		

		

	
}

@media only screen and (min-width: 1024px) {
	body{
		background-color: black; 
		}

		.grid {
		grid-template-columns: 1fr 1fr;
		grid-gap: 40px;
		width: 60%;
		}

		.grid-container-hoursandlocations{
		display: grid;
		grid-template-columns: 2fr 2fr;
		padding: 10px;}

		.pearlphoto2{
		padding-top: 100px;}

		.swanislandphoto2{
		padding-top: 30px;}

	  	.grid-container-menupage{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 10px;
		padding: 10px}

}



@media only screen and (min-width: 1200px) {
	body{
		background-color: black; 
		}

	.grid {
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 40px;
	width: 60%;
	}

	.grid-container-hoursandlocations{

	display: grid;
	grid-template-columns: 4fr 4fr;
	padding: 10px;}

	.tiltheader{
	margin-top: -50px;
	}

	.locationheader{
	margin-bottom: -100px;
	}


	.pearldistrict h2{
	margin-left: -550px;}

	.swanisland h2{
	margin-left: -1250px;}

	.burnside h2{
	margin-left: -1180px;}

	.hoursandlocations h1{
	padding-bottom: 1000px;}

	.burnsidephoto{
	margin-top: 500px;

	}

	.aboutpage p {
padding-left: 1000px;
margin-right: 1000px;
margin-top: 500px;

	}

	.aboutpage {
	display: grid;
	grid-template-columns: 2fr 2fr 2fr 2fr;

	}

.w3-content{
padding-left: 1600px;
size: auto;

}



















}

