
.tiltheader h1{

font-family: Helvectice Neue, sans-serif;
font-size: 200px;
font-weight: bold;
color: black;
text-align: center

}

nav{
	font-family: Helvetica Neue, sans-serif;
	font-size: 40px;
	font-weight: lighter;

	}


h1{

	font-family: Helvetica Neue, sans-serif;
	font-size: 90px;
	font-weight: lighter;
	color: white;

	}

	h2{
	font-family: Helvetica Neue, sans-serif;
	font-size: 60px;
	font-weight: lighter;
	color: white;


	}


p{

font-family: Helvectice Neue, sans-serif;
font-size: 30px;
color: white;
text-align: left

}


header {margin-bottom: 20px;}

/* ensures that your images stretch the width of their containers */
img { width: 100%; }

.backgroundimage{

background-image: cover;
opacity: 50%;

}


a { 
	color: white;
	text-decoration: none;
	 }
a:hover { color: lightgrey; }

.grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 40px;
	width: 90%;
	margin: auto;
}

.grid div {
	
	padding: 20px;
}


footer{

 color: white;
 text-align: center;
 font-family: Helvetica Neue, sans-serif;
 font-size: 10px;
 font-weight: bold;

}











@media only screen and (min-width: 768px) {
	body{
		background-color: black; 
		}

		.grid {
		grid-template-columns: 2fr;
		grid-gap: 40px;
		width: 70%;
		margin: auto;
}
}

@media only screen and (min-width: 1024px) {
	body{
		background-color: black; 
		}

	.grid {
	grid-template-columns: 1fr 1fr;
	grid-gap: 40px;
	width: 60%;
}
}



@media only screen and (min-width: 1200px) {
	body{
		background-color: black; 
		}

.grid {
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 40px;
	width: 60%;
}


}











